.content {
  background-color: #eeeeee;
  height: 100%;
  width: auto;
}


// @media only screen and (min-width: 1200px)  {
//   .content {
//     width: 57rem;
//   }
//     .Traits {
//       flex-wrap: wrap;
//       .trait-card {
//         width: 60%
//       }
//     }
// }
// @media only screen and (min-width: 1300px)  {
//   .content {
//     width: 66rem;
//   }
//     .Traits {
//       flex-wrap: wrap;
//       .trait-card {
//         width: 60%
//       }
//     }
// }
// @media only screen and (max-width: 1000px)  {
//   .content {
//     width: 40rem;
//   }
//     .Traits {
//       flex-wrap: wrap;
//       .trait-card {
//         width: 60%
//       }
//     }
// }