ul {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skills {
  text-align: center;
  background-image: linear-gradient(to right top, #f01c5d, #da0073, #bd0b85, #982192, #6b2e98, #5945ac, #3f58be, #0069cb, #008fea, #00aed5, #00c591, #03d529);
}