
$blue: #2d99ef;
$yellow: #f9be41;
$red: #ed5654;
$purple: #a84cb8;

.skill-list {
  // height: 100px;
  display: flex;
  flex-wrap: wrap;
  h3 {
        margin: 0em;
  }
}

.skill-card {
  background-color: white;
  flex-grow: 1;
  margin: 1em;
  height: 4rem;
  // border-bottom: solid $blue;
  width: 8.5rem;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  .yellow {
    border-bottom: solid $yellow
  }
  .purple {
    border-bottom: solid $purple
  }
  .red {
    border-bottom: solid $red
  }
  .blue {
    border-bottom: solid $blue
  }
}

.skill-container {
  margin: 2rem 5rem 10rem;

}

.skills-header {
  background-image:  url(../../assets/bwhk.jpeg);
    background-size: cover;
    background-attachment: fixed;
    color: red;
    height: 5rem;
    text-shadow: 1px 1px 2px black;
    padding: 1rem;
}
.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #64C7CC;
}

.hexagon-container {
  // position: absolute;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #64C7CC;
}