

@mixin about-grid {
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about {
  margin: 10em 4rem;
  h2, h3{
    text-align: left;
    margin-left: 0em;
    padding-left: 0em
  } 
}

.about-sect-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "a photo1"
    "photo2 background";
  p, h2 {
    padding: 0em 2em
  }
  .a  {
    grid-area: a;

  }
  .photo1 {
    grid-area: photo1;
    background-image:  url(../../assets/laptop.jpeg);
    @include about-grid
  }
  .photo2 {
    grid-area: photo2;
    background-image:  url(../../assets/travel.jpeg);
    @include about-grid
  }
  .blurb-right {
    grid-area: background;
  }
}




.about-blurb {
  margin-bottom: 10rem;
  h2 {
    margin: 0;
  }
  .blurb-left {
    max-width: 75%;
    background-color: #f9bf3f;
    padding: 1em;
    font-size: 1.5rem;
    line-height: 37px;
  }
}

// .blurb-right {
//   margin-left: 50%;
// }
